/* gopher-regular */
@font-face {
    font-family: 'Gopher';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gopher-regular.eot');
    src: url('../fonts/gopher-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gopher-regular.woff2') format('woff2'),
    url('../fonts/gopher-regular.woff') format('woff'),
    url('../fonts/gopher-regular.ttf') format('truetype');
}

/* gtwalsheimpro-regular */
@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gtwalsheimpro-regular.eot');
    src: url('../fonts/gtwalsheimpro-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gtwalsheimpro-regular.woff2') format('woff2'),
    url('../fonts/gtwalsheimpro-regular.woff') format('woff'),
    url('../fonts/gtwalsheimpro-regular.ttf') format('truetype');
}

/* gtwalsheimpro-light */
@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/gtwalsheimpro-light.eot');
    src: url('../fonts/gtwalsheimpro-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gtwalsheimpro-light.woff2') format('woff2'),
    url('../fonts/gtwalsheimpro-light.woff') format('woff'),
    url('../fonts/gtwalsheimpro-light.ttf') format('truetype');
}

/* gtwalsheimpro-lightoblique */
@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/gtwalsheimpro-lightoblique.eot');
    src: url('../fonts/gtwalsheimpro-lightoblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gtwalsheimpro-lightoblique.woff2') format('woff2'),
    url('../fonts/gtwalsheimpro-lightoblique.woff') format('woff'),
    url('../fonts/gtwalsheimpro-lightoblique.ttf') format('truetype');
}

:root {
    --green: #9AC2A0;
    --lightGreen: #E6F0E7;
    --blue: #25405D;
    --lightBlue: #6E8093;
    --brightPink: #E87877;
    --pink: #FDF3F3;
    --lightPink: #FFFCFC;
    --white: #FFFFFF;
    --gray: #BDBDBD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

a, button {
    border: none;
    text-decoration: none;
}

a, button, #logo, .add_to_cart {
    cursor: pointer;
}

img {
    display: block;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

/******************** HEADER START ********************/

#header {
    background-color: var(--white);
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.links {
    font: normal normal 24px/24px Gopher, serif;
    color: var(--blue);
    position: relative;
}

.links:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--blue);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links:hover:after {
    width: 100%;
    left: 0;
}

.nav li {
    padding: 26px 0;
}

.links a:link, .links a:visited, .links a:hover, .links a:active {
    color: var(--blue);
}

#cart_area {
    display: flex;
    align-items: center;
    background: none;
}

.counter_area {
    margin-left: 8px;
    padding: 3px;
    background: var(--white);
    border: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#amount {
    font: normal normal 20px/20px Gopher, serif;
    text-align: center;
    width: 48px;
    height: 20px;
    color: var(--brightPink);
}

/******************** CART CONTAINER START ********************/

.cart_container {
    position: absolute;
    background: var(--white);
    width: 431px;
    min-height: 100vh;
    top: 0;
    right: 0;
    box-shadow: -8px 8px 16px rgba(37, 64, 93, 0.2);
    padding: 0 25px;
    display: none;
}

.show_cart_container {
    display: block;
}

#cart_header {
    padding: 28px 0;
    display: flex;
    background-color: var(--white);
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#cart_title {
    font: normal normal 24px/24px Gopher, serif;
    color: var(--blue);
    margin: 0 auto;
}

#cart_close_btn {
    border: none;
    background: none;
    float: right;
}

#cart_main {
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

#cart_main::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.cart_item {
    width: 100%;
    height: 127px;
    border: 1px solid var(--blue);
    margin-bottom: 30px;
}

.cart_item img {
    height: 100%;
    float: left;
}

.cart_item_info {
    float: left;
    margin-top: 15px;
    margin-left: 22px;
}

.cart_item_name {
    font: normal normal 18px/18px GT Walsheim Pro, serif;
    color: var(--blue);
}

.cart_item_amount {
    margin-top: 13px;
    margin-bottom: 13px;
    display: flex;
}

.increment_decrement_counter {
    width: 91px;
    height: 30px;
    background: var(--white);
    border: 1px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reduce_amount {
    background-image: url("../img/minus_icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.product_quantity {
    font: normal normal 18px/18px Gopher, serif;
    color: var(--blue);
    width: 35px;
    height: 18px;
    text-align: center;
    border: 0;
}

.expand_amount {
    background-image: url("../img/plus_icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.cart_item_del_btn {
    background-image: url("../img/trash_icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 8px;
}

.cart_item_price {
    font: normal 300 20px/20px GT Walsheim Pro, serif;
    color: var(--blue);
}

#promo_code_form input, #zip_code_form input {
    border-radius: 0;
    width: 100%;
    background: var(--white);
    border: 1px solid var(--blue);
    font: normal 300 18px/18px GT Walsheim Pro, serif;
    color: var(--blue);
    padding: 11px 12px;
    margin-bottom: 3px;
}

.apply_code {
    font: normal 300 13px/13px GT Walsheim Pro, serif;
    color: var(--lightBlue);
    background: none;
    padding: 0 12px;
    float: right;
    margin-bottom: 14px;
}

.apply_code:hover {
    text-decoration: underline;
}

#cart_total {
    font: normal 300 18px/18px GT Walsheim Pro, serif;
    color: var(--blue);
    width: 100%;
    margin-bottom: 30px;
    margin-top: 32px;
    border-collapse: collapse;
}

#cart_total td:last-child {
    text-align: right;
}

#cart_total tr:not(:last-child) {
    border-bottom: 8px solid transparent;
}

#cart_total tr:last-child {
    font-weight: normal;
}

#proceed_to_checkout_btn {
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    background-color: var(--blue);
    text-transform: uppercase;
    font: normal normal 24px/24px Gopher, serif;
    color: var(--white);
    margin-bottom: 80px;
}

/******************** CART CONTAINER END ********************/

/******************** HEADER END ********************/

/******************** HERO START ********************/

#hero {
    background-image: linear-gradient(225deg, rgba(255, 252, 252, 0.08) 10%, rgba(255, 252, 252, 0.7) 90%), url("../img/info_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 237px 0;
}

.hero_title {
    font: normal normal 64px/67px Gopher, serif;
    color: var(--blue);
    max-width: 627px;
    margin-bottom: 10px;
}

.hero_text {
    font: normal normal 22px/27px GT Walsheim Pro, serif;
    color: var(--blue);
    max-width: 586px;
    margin-bottom: 19px;
}

.white_btn {
    display: inline-block;
    padding: 8px 30px;
    background-color: var(--white);
    text-transform: uppercase;
    font: normal normal 24px/24px Gopher, serif;
    color: var(--blue);
}

/******************** HERO END ********************/

/******************** ABOUT START ********************/

#about {
    background-color: var(--lightPink);
    padding: 70px 0;
}

#about .grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 32px;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.frame {
    position: relative;
    background-image: url("../img/frame.svg");
    background-size: 261px;
    width: 261px;
    height: 186px;
    background-repeat: no-repeat;
}

.feature_title {
    font: normal normal 40px/42px Gopher, serif;
    text-transform: capitalize;
    color: var(--green);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature_subtitle {
    font: normal normal 25px/25px Gopher, serif;
    color: var(--blue);
    max-width: 261px;
    margin-bottom: 5px;
}

.feature_text {
    font: normal 300 19px/26px GT Walsheim Pro, serif;
    color: var(--blue);
    max-width: 261px;
}

/******************** ABOUT END ********************/

/******************** SHOP START ********************/

#shop {
    background-color: var(--pink);
    padding: 75px 0;
}

.shop_grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 32px;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.bouquet_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
}

.bouquet_name {
    font: normal normal 20px/20px GT Walsheim Pro, serif;
    text-transform: capitalize;
    color: var(--blue);
}

.bouquet_price {
    background-image: url("../img/price_tag.svg");
    background-size: 75px;
    width: 75px;
    height: 32px;
    background-repeat: no-repeat;
}

.price {
    font: normal 300 22px/22px GT Walsheim Pro, serif;
    text-align: center;
    width: 53px;
    height: 22px;
    margin: 5px 3px 5px 19px;
    color: var(--white);
}

.bouquet_price:hover {
    -webkit-animation: shake 0.35s ease-in-out 0.35s infinite alternate;
}

@-webkit-keyframes shake {
    from {
        -webkit-transform: rotate(2deg);
    }
    to {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-3deg);
    }
}

/******************** SHOPPING CART START ********************/

.bouquet_image {
    position: relative;
}

.add_to_cart_btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 252, 252, 0.64) 0%, rgba(253, 243, 243, 0.8) 100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.bouquet_image:hover .add_to_cart_btn {
    visibility: visible;
    opacity: 1;
}

.add_to_cart_text {
    margin-left: 8px;
    font: normal normal 18px/18px GT Walsheim Pro, serif;
    color: var(--blue);
}

/******************** SHOPPING CART END ********************/

/******************** SHOP END ********************/

/******************** CUSTOMIZE START ********************/

#customize {
    background-color: var(--lightPink);
    padding: 70px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 32px;
}

#customize .grid, #delivery .grid, #flower_subscription .grid, #work .grid {
    align-items: center;
}

#customize_photo {
    grid-column: 1 / span 6;
}

.left_side_pic_with_green_border {
    width: 408px;
    height: 306px;
    box-shadow: 10px 15px 0 -2px var(--white), 10px 15px var(--green);
    transition: box-shadow 0.8s, top 0.8s, left 0.8s;
    position: relative;
    cursor: pointer;
}

.left_side_pic_with_green_border:hover {
    width: 407px;
    height: 305px;
    box-shadow: 0 0 0 -2px var(--white), 0 0 0 0 var(--green);
}

#customize_text {
    grid-column: 8 / span 9;
}

.info_title {
    font: normal normal 36px/36px Gopher, serif;
    text-transform: capitalize;
    color: var(--brightPink);
    margin-bottom: 8px;
}

.info_text {
    max-width: 627px;
    font: normal 300 20px/29px GT Walsheim Pro, serif;
    color: var(--blue);
}

/******************** CUSTOMIZE END ********************/

/******************** DELIVERY START ********************/

#delivery {
    background-color: var(--pink);
    padding: 70px 0;
}

#delivery_photo {
    grid-column: 11 / span 6;
}

#delivery_text {
    grid-column: 1 / span 9;
}

.delivery_photo_wrap {
    position: relative;
}

.delivery_animation_pic {
    display: flex;
    position: absolute;
    left: -30px;
    top: 224px;
}

.rotate {
    animation: rotation 40s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/******************** DELIVERY END ********************/

/******************** FLOWER SUBSCRIPTION START ********************/

#flower_subscription {
    background-color: var(--lightPink);
    padding: 70px 0;
}

#flower_subscription_photo {
    grid-column: 1 / span 6;
}

#flower_subscription_text {
    grid-column: 8 / span 9;
}

.info_subtitle {
    font: normal normal 24px/24px Gopher, serif;
    text-transform: capitalize;
    color: var(--blue);
    margin-right: 30px;
}

.blue_btn {
    display: inline-block;
    padding: 8px 30px;
    background-color: var(--blue);
    text-transform: uppercase;
    font: normal normal 24px/24px Gopher, serif;
    color: var(--white);
}

.subtitle_with_button {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

/******************** FLOWER SUBSCRIPTION END ********************/

/******************** PROMO CODE START ********************/

#promo_code {
    background-color: var(--lightGreen);
    padding: 19px 0;
}

.promo_code_text {
    font: normal normal 22px/22px Gopher, serif;
    color: var(--blue);
    text-align: center;
}

/******************** PROMO CODE END ********************/

/******************** INSTAGRAM START ********************/

#instagram {
    background-color: var(--lightPink);
    padding: 70px 0;
}

.instagram_title {
    font: normal normal 36px/36px Gopher, serif;
    color: var(--green);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.instagram_text {
    font: normal 300 22px/22px GT Walsheim Pro, serif;
    color: var(--blue);
    margin-bottom: 20px;
    text-align: center;
}

.instagram_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.instagram_pic img {
    max-width: 100%;
    height: auto;
}

.instagram_pic {
    grid-column: span 1;
    position: relative;
}

#instagram .blue_btn {
    margin: 20px auto 0;
    display: block;
    width: 200px;
}

/******************** INSTAGRAM END ********************/

/******************** WORK START ********************/

#work {
    background-color: var(--pink);
    padding: 70px 0;
}

#work_photo {
    grid-column: 11 / span 6;
}

#work_text {
    grid-column: 1 / span 9;
}

.pink_btn {
    margin-top: 12px;
    display: inline-block;
    padding: 8px 30px;
    background-color: var(--brightPink);
    text-transform: uppercase;
    font: normal normal 24px/24px Gopher, serif;
    color: var(--white);
}

.right_side_pic_with_pink_border {
    box-shadow: -10px -15px 0 -2px var(--pink), -10px -15px var(--brightPink);
    transition: box-shadow 0.8s, top 0.8s, left 0.8s;
    position: relative;
    cursor: pointer;
}

.right_side_pic_with_pink_border:hover {
    box-shadow: 0 0 0 -2px var(--pink), 0 0 0 0 var(--brightPink);
}

.work_second_pic {
    display: flex;
    position: absolute;
    left: 319px;
    top: 247px;
}

/******************** WORK END ********************/

/******************** MAIL SUBSCRIPTION START ********************/

#mail_subscription {
    background-color: var(--white);
    margin: 70px 0;
}

.mail_subscription_title {
    font: normal normal 36px/36px Gopher, serif;
    text-transform: capitalize;
    color: var(--green);
    margin-bottom: 10px;
}

.mail_subscription_subtitle {
    font: normal normal 22px/22px GT Walsheim Pro, serif;
    color: var(--blue);
    margin-bottom: 15px;
}

.mail_subscription_text {
    font: italic 300 13px/13px GT Walsheim Pro, serif;
    color: var(--lightBlue);
}

.input_row {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

::-webkit-input-placeholder { /* Edge */
    font: normal 300 20px/20px GT Walsheim Pro, serif;
    color: var(--gray);
}

:-ms-input-placeholder { /* Internet Explorer */
    font: normal 300 20px/20px GT Walsheim Pro, serif;
    color: var(--gray);
}

::placeholder {
    font: normal 300 20px/20px GT Walsheim Pro, serif;
    color: var(--gray);
}

input:focus {
    outline: none;
}

#subscription_form input {
    border-radius: 0;
    width: 360px;
    background: var(--white);
    border: 1px solid var(--blue);
    font: normal 300 20px/20px GT Walsheim Pro, serif;
    color: var(--blue);
    padding: 10px 12px;
    margin-right: 30px;
}

/******************** MAIL SUBSCRIPTION END ********************/

/******************** FOOTER START ********************/

footer {
    background-color: var(--blue);
}

#footer .grid {
    padding: 75px 0;
}

.footer_column {
    grid-column: span 4;
}

.footer_link {
    font: normal normal 20px/20px GT Walsheim Pro, serif;
    color: var(--white);
}

.support {
    font: normal normal 16px/16px GT Walsheim Pro, serif;
    text-transform: capitalize;
    color: var(--white);
    margin: 10px 0 13px;
}

.contacts {
    font: normal normal 18px/18px GT Walsheim Pro, serif;
    color: var(--white);
    display: block;
}

.footer_column > a {
    margin-bottom: 10px;
}

.footer_column > a ~ a {
    margin: 0;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    max-width: 188px;
    margin-top: 17px;
}

.footer_links_col {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--white);
}

.copyrights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.copyrights_info {
    font: normal 300 16px/16px GT Walsheim Pro, serif;
    color: var(--white);
}

.underline_animation {
    position: relative;
}

.underline_animation::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transition: width 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline_animation:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/******************** FOOTER END ********************/

@media screen and (max-width: 1260px) {
    .wrapper {
        max-width: 960px;
    }

    #logo {
        width: 190px;
        height: 26px;
    }

    .links {
        font-size: 22px;
        line-height: 22px;
    }

    .nav li {
        padding: 27px 0;
    }

    #cart_area img {
        width: 18px;
        height: 18px;
    }

    #amount {
        font-size: 18px;
        line-height: 18px;
        width: 45px;
        height: 18px;
    }

    .links {
        font-size: 22px;
        line-height: 22px;
    }

    .hero_title {
        max-width: 585px;
        margin-bottom: 8px;
        font-size: 60px;
        line-height: 63px;
    }

    .hero_text {
        max-width: 528px;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 25px;
    }

    .white_btn, .blue_btn, .pink_btn {
        font-size: 22px;
        line-height: 22px;
    }

    .frame {
        background-image: url("../img/frame_d.svg");
        background-size: 216px;
        width: 216px;
        height: 170px;
        background-repeat: no-repeat;
    }

    .feature_title {
        font-size: 36px;
        line-height: 38px;
    }

    .feature_subtitle {
        font-size: 21px;
        line-height: 21px;
        max-width: 216px;
    }

    .feature_text {
        font-size: 16px;
        line-height: 24px;
        max-width: 216px;
    }

    #shop .grid {
        row-gap: 35px;
    }

    .bouquet_img {
        width: 216px;
        height: auto;
    }

    .bouquet_info {
        margin-top: 9px;
    }

    .bouquet_name {
        font-size: 18px;
        line-height: 18px;
    }

    .bouquet_price {
        background-image: url("../img/price_tag_d.svg");
        background-size: 70px;
        width: 70px;
        height: 30px;
    }

    .price {
        font-size: 20px;
        line-height: 20px;
        width: 48px;
        height: 20px;
    }

    .add_to_cart_btn img {
        width: 16px;
        height: 16px;
    }

    .add_to_cart_btn {
        padding: 6px 0;
    }

    .add_to_cart_text {
        font-size: 16px;
        line-height: 16px;
    }

    .left_side_pic_with_green_border img {
        width: 340px;
        height: 255px;
    }

    .left_side_pic_with_green_border {
        width: 340px;
        height: 255px;
        box-shadow: 8px 12px 0 -2px var(--white), 8px 12px var(--green);
    }

    .left_side_pic_with_green_border:hover {
        width: 340px;
        height: 255px;
    }

    .info_title {
        font-size: 31px;
        line-height: 31px;
        margin-bottom: 5px;
    }

    .info_text {
        max-width: 526px;
        font-size: 17px;
        line-height: 25px;
    }

    .delivery_main_pic {
        width: 340px;
        height: 255px;
    }

    .delivery_animation_pic {
        width: 93px;
        height: 93px;
        left: -25px;
        top: 187px;
    }

    .promo_code_text {
        font-size: 20px;
        line-height: 20px;
    }

    .instagram_title {
        font-size: 31px;
        line-height: 31px;
    }

    #instagram .blue_btn {
        width: 188px;
    }

    .work_main_pic img {
        width: 340px;
        height: 255px;
    }

    .work_second_pic {
        width: 104px;
        height: 63px;
    }

    .right_side_pic_with_pink_border {
        width: 340px;
        height: 255px;
        box-shadow: -8px -12px 0 -2px var(--pink), -8px -12px var(--brightPink);
    }

    .right_side_pic_with_pink_border:hover {
        width: 340px;
        height: 255px;
    }

    .work_second_pic {
        left: 266px;
        top: 206px;
    }

    .mail_subscription_title {
        font-size: 31px;
        line-height: 31px;
    }

    .mail_subscription_subtitle {
        font-size: 20px;
        line-height: 20px;
    }

    .mail_subscription_text {
        font-size: 12px;
        line-height: 12px;
    }

    ::-webkit-input-placeholder { /* Edge */
        font-size: 18px;
        line-height: 18px;
    }

    :-ms-input-placeholder { /* Internet Explorer */
        font-size: 18px;
        line-height: 18px;
    }

    ::placeholder {
        font-size: 18px;
        line-height: 18px;
    }

    #subscription_form input {
        height: 38px;
        font-size: 18px;
        line-height: 18px;
        width: 330px;
    }

    #footer .grid {
        padding: 60px 0;
    }

    .footer_link {
        font-size: 18px;
        line-height: 18px;
    }

    .support {
        font-size: 14px;
        line-height: 14px;
        margin: 9px 0 12px;
    }

    .contacts {
        font-size: 16px;
        line-height: 16px;
    }

    .footer_column > a {
        margin-bottom: 8px;
    }

    .social_media {
        max-width: 173px;
        margin-top: 15px;
    }

    .footer_links_col {
        gap: 7px;
    }

    .copyrights_info {
        font-size: 14px;
        line-height: 14px;
    }

    .social_logo {
        width: 32px;
        height: 32px;
    }

    .copyrights {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
    }
}